<?php /* @var $form \Divecheck\Core\Form\UnwrappedForm */?>
<?php
$form->prepare();
$form->setAttribute('role', 'form');
$form->setAttribute('class', $form->getAttribute('class') ? $form->getAttribute('class') . ' form-horizontal' : 'form-horizontal');
?>
<?php echo $this->form()->openTag($form) ?>
<?php foreach ($form->getFieldsets() as $fieldset):?>
<?php /* @var $fieldset \Zend\Form\Fieldset */ ?>
<div class="panel-group" id="accordion-<?php echo $fieldset->getName()?>">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-<?php echo $fieldset->getName()?>" href="#<?php echo $fieldset->getName()?>"><?php echo $fieldset->getLabel() ?></a>
            </h4>
        </div>
    </div>
    <div id="<?php echo $fieldset->getName()?>" class="panel-collapse collapse in">
        <div class="panel-body">
            <?php foreach ($fieldset->getElements() as $element):?>
            <?php /* @var $element \Zend\Form\Element */ ?>
            <?php $element->setAttribute('class', 'form-control')?>
            <div class="form-group">
                <label class="col-md-2 control-label" for="<?php echo $element->getAttribute('id')?>"><?php echo $element->getLabel() ?></label>
                <div class="col-md-4">
                    <?php $element->setAttribute('class', $element->getAttribute('class') ? $element->getAttribute('class') . ' col-md-4' : 'col-md-4')?>
                    <?php echo $this->formElement($element) ?>
                    <?php $help = $element->getComment()?>
                    <?php if (isset($help)):?>
                    <span class="help-block" style="margin:0;"><?php echo $this->escapeHtml($this->translate($help)) ?></span>
                    <?php endif; ?>
                </div>
                <label class="col-md-2 config-inherit control-label">
                <?php if ($element->getOption('use_inherit')):?>
                    <?php $inheritId = $element->getAttribute('id') . '_inherit' ?>
                    <input id="<?php echo $inheritId ?>" name="<?php echo $element->getName()?>_inherit" type="checkbox"<?php if($element->getOption('inherit')):?> checked="checked"<?php endif;?>>
                    <?php if ($element->getOption('can_use_default_value')):?><?php echo $this->translate('Use Default')?><?php endif;?>
                    <?php if ($element->getOption('can_use_website_value')):?><?php echo $this->translate('Use Website')?><?php endif;?>
                    <script type="text/javascript">
                    jQuery('#<?php echo $inheritId?>').on('click', function(){
                        if (this.checked)
                        {
                            jQuery('#<?php echo $element->getAttribute('id')?>').attr('disabled', 'disabled').addClass('disabled');
                        } else {
                            jQuery('#<?php echo $element->getAttribute('id')?>').removeAttr('disabled').removeClass('disabled');
                        }
                    });
                    </script>
                <?php endif;?>
                    <span><?php if ($element->getOption('scope_label')):?><?php echo $this->translate($element->getOption('scope_label'))?><?php endif;?></span>
                </label>
            </div>
            <?php endforeach; ?>
        </div>
    </div>
</div>

<?php endforeach; ?>
<?php echo $this->form()->closeTag($form) ?>