<?php /* @var $this \Zend\View\Renderer\PhpRenderer */?>
<div class="row">
    <div class="col-md-2">
    <?php echo $this->renderChildModel('tabs')?>
    </div>

    <div class="col-md-10">
        <div class="row form-save-control">
            <div class="col-md-3">
                <h4><?php echo $sectionName ?></h4>
            </div>
            <div class="col-md-9" style="text-align:right;">
                <button class="btn btn-primary" type="submit" onclick="configForm.submit();"><?php echo $this->translate('Save')?></button>
                <button class="btn btn-default" type="reset" onclick="configForm.reset();"><?php echo $this->translate('Reset')?></button>
            </div>
        </div>

        <hr />
        <?php echo $this->renderChildModel('edit')?>
        <script type="text/javascript">
        <!--
        var configForm = jQuery('#config_edit_form');
        //-->
        </script>
    </div>
</div>
