<div class="switcher">
    <label for="store_switcher"><?php echo $this->translate('Current Configuration Scope:') ?></label>
    <select id="store_switcher" class="form-control system-config-store-switcher" onchange="location.href=this.options[this.selectedIndex].getAttribute('data-url')">
    <?php foreach ($stores as $value => $option): ?>
    <?php if (isset($option['is_group'])): ?>
    <?php if ($option['is_close']): ?>
        </optgroup>
    <?php else: ?>
        <optgroup label="<?php echo $this->escapeHtml($option['name']) ?>">
    <?php endif; ?>
    <?php continue ?>
    <?php endif;?>
        <option value="<?php echo $this->escapeHtml($value) ?>" data-url="<?php echo isset($option['url']) ? $option['url'] :''; ?>" <?php echo $option['selected'] ? 'selected="selected"' : '' ?> style="<?php echo $option['style'] ?>">
          <?php echo $this->escapeHtml($option['name']) ?>
        </option>
    <?php endforeach;?>
    </select>
</div>