<div class="well well-sm">
    <?php echo $this->renderChildModel('switcher')?>
    <br />
    <ul class="nav nav-list">
    <?php /* @var $container \Zend\Navigation\Navigation */ ?>
    <?php $container = $this->navigation('Admin\Navigation\System\Config')->getContainer(); ?>
    <?php foreach ($container as $item): ?>
        <?php /* @var $item \Zend\Navigation\Page\Mvc */ ?>
            <li class="nav-header">
            <?php echo $this->translate($item->getLabel()) ?>
            </li>
        <?php if ($item->hasPages()): ?>
            <?php foreach ($item as $page): ?>
            <?php /* @var $page \Zend\Navigation\Page\Mvc */ ?>
                <li<?php if ($page->isActive()):?> class="active"<?php endif;?>>
                <?php $link = !$page->isActive() ? $page->getHref() : '#'?>
                    <a href="<?php echo $link ?>">
                    <?php echo $this->translate($page->getLabel()) ?>
                    </a>
                </li>
            <?php endforeach; ?>
        <?php endif; ?>
    <?php endforeach; ?>
    </ul>
</div>
